/*_______________________________ IMPORT _____________________________*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

/*__________________ GENERAL RULE _______________________*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body {
    background-color: #000;
    font-weight: 300;
    font-size: 15px;
}
.boolflix-app {
    display: flex;
    flex-direction: column;
}

/*_____________________ UTILITY _________________________*/

.boolflix-container {
    width: 1200px;
    margin: 0 auto;
}

/*_________________ Boolflix [ Header] _________________*/
header {
    position: fixed;
    z-index: 1;
    height: 80px;
    width: 100%;
    background-color: #000;
    /* border-bottom: 1px solid #ff0000; */
}

.boolflix-header {
    background-color: #000;
    filter: drop-shadow(0 1px 2px rgba(255, 0, 0, 1));
}

.boolflix_header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boolflix-header-logo {
    width: 200px;
}

.search_button {
    color: rgba( 150, 150, 150, 0.5);
    font-size: 20px;
}

.search_button:hover {
    cursor: pointer;
    animation: rotateIcon .3s linear ;
    color: rgb(126, 126, 126);
}

@keyframes rotateIcon {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* --- Section search --- */

.boolflix_search-container {
    display: none;
    padding: 40px 0;
    background-color: rgb(15, 15, 15);
    text-align: center;
}

.search_container {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgba( 70, 70, 70, 0.5);
}

.search_container:hover {
    background-color: rgba( 70, 70, 70, 1);
}

.search_input {
    color: #fff;
    border: none;
    background-color: transparent;
    outline: none;
}

.search_active {
    box-shadow: 0 0px 8px red;
    background-color: rgba( 70, 70, 70, 1);
}



/*__________________ Boolflix [ Main ] _________________*/
#movie-list {
    padding: 100px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.movie {
    position: relative;
    margin: 5px;
}
.layover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    transition: background .4s;
}
.flag{
    width: 20px;
    height: 20px;
}
.movie-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    list-style: none;
}
.star-color {
    color: yellow;
}
.poster img {
    height: 100%;
}
.movie-description li span:first-of-type {
    font-weight: bold;
    text-decoration: underline;
    display: block;
}
.movie:hover .layover {
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 1);
}
.movie:hover .movie-description{
    opacity: 1;
}

